{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#"
      prefix = "og: http://ogp.me/ns#">
    <head>
    <meta property="og:image" content="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSvm3OF0mPm2MojszcZPJHgLILddTzJguBaY5Wz1CReX4ph5-Pm" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="http://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Decision Science Blog</title>
    </head>
    <body>
        <div class= "page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
            <h1><a href="{% url 'post_list' %}">Decision Science Blog</a></h1>
            <p> <em>This blog is all about Neuroeconomics: How Our Brain Makes Decision.</br>The idea is to decode how our brains work and gain an insight into our brain's decisions so that we can interpret and more importantly, influenece decisions</em></p>
        </div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
    </div>
</div>
    </body>
</html>