<html>
    <head>
        <title>Decision Science blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Decision Science Blog</a></h1>
            <p> This blog is all about Decsiosn Science.</br>The idea is to decode how our brains work and gain an insight into our brain's decisiosn so that we can interpret and more importantly, influenece decisions</p>
        </div>

        <div>
            <p>published: 07.12.2015, 12:14</p>
            <h3><a href="">My first post</a></h3>
            <p>This post is just a dummy one ! Wait till the real comes out.  It's gonna be legen-wait-for-it -dary !</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h3><a href="">My second post</a></h3>
            <p>This post is coming as well</p>
        </div>
    </body>
</html>