<html>
    <head>
        <title>Decision Science blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Decision Science Blog</a></h1>
            <p> This blog is all about Decsiosn Science.</br>The idea is to decode how our brains work and gain an insight into our brain's decisiosn so that we can interpret and more importantly, influenece decisions</p>
        </div>

       {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %}
    </body>
</html>